
.Auth-form-container{
    text-align: center;
    font-size: larger;
    background-color: #dadab1;
    background-image: linear-gradient(160deg, #e4f1f3 0%, #cfede9 100%);
    max-width: 80%;
    margin-left: 10%;
    
}
.emm{
    color: black;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
   padding: 5px;
    margin-top: 7px;
}

.pass{
    color: black;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}

.emin{
    font-size: large;
    font-weight: 100;
}

.sign-in{
    position: absolute;
    left: 81%;
    top: 60px;
    padding: 0.5rem 1rem;
    color: #fff;
    background: black;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-width: 2px;
    border-color: #4f3ed3;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 18px;
}

.sign-in:hover{
    border-width: 2px;
    border-color: rgb(49, 208, 57);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.close{
    padding: 3px;
    background-color: red;
    border: 2px black;
    color: #fff;
    position: absolute;
    left: 50%;
    height: 40px;
    width: 90px;
    margin-top: 40px;
    border-radius: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}

.submitt{
    color: white;
    padding: 7px;
    width: 100px;
    background: black;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-width: 2px;
    border-color: #4f3ed3;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.form-group{
    display: block;
}


