.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none !important;
    padding: 2rem 6rem;
}
.preview-title{
    text-decoration: none !important;
}

.gpt3__navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.gpt3__navbar-links_logo {
    margin-right: 5rem;
}

.gpt3__navbar-links_logo img {
    width: 210px;
    height: 90px;
    
}

.gpt3__navbar-links_container {
    display: flex;
    flex-direction: row;
}

.gpt3__navbar-sign {
    margin-right: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: poiner;
}

.nav-sign-in{
    padding: 0.5rem 1rem;
    color: #fff;
    background: black;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-width: 2px;
    border-color: #4f3ed3;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 7px;
}
.thisimg{
    display: none;
}


.gpt3__navbar-menu {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.gpt3__navbar-menu svg {
    cursor: pointer;
}

.gpt3__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}

.gpt3__navbar-menu_container p {
    margin: 1rem 0;
}

.gpt3__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1350px) {
    .sign-in {
        display: none;
    }
    .sign-up{
        display: none;
    }
}

@media screen and (max-width: 1050px) {
    .gpt3__navbar-links_container {
        display: none;
    }

    .gpt3__navbar-menu {
        display: flex;
        margin-left: 0rem;
    }
    .sign-in {
        display: none;
    }
    .sign-up{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__navbar {
        padding: 2rem 4rem;
    }
    .sign-in {
        display: none;
    }
    .sign-up{
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__navbar {
        padding: 2rem;
    }

    .sign-in {
        display: none;
    }
    .sign-up{
        display: none;
    }

    .gpt3__navbar-menu_container {
        top: 20px;
    }

    .sign-in {
        display: block;
    }
}
